<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'beauty.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename= 'images/muscle.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">

    <title>Push-Up Logger</title>
    {% endblock %}
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Push-Up Logger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="{{ url_for('main.index') }}" class="btn btn-outline-primary" role="button">All Workouts</a>

                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.profile') }}" class="btn btn-outline-primary ml-2" role="button" style="margin-left: 4px;">Account</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="{{ url_for('auth.signup') }}" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Signup</a>
                    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
                </form>
            </div>
        </div>
    </nav>


    <div class="container">

        {% block content %} {% endblock %}

    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
</body>

</html>